.grid-container {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    border: 2px solid red;
}

.sidebar ul {
    list-style-type: none;
}

/* Header */
.header {
    display: grid;
    border: 2px solid green;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
}

/* Top left */
.search-bar {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

/* Top right */
.user {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.notif {
    grid-column: 2 / 3;
}

.avatar {
    grid-column: 3 / 4;
}

.name {
    grid-column: span 2;
}

/* Bottom left */
.user-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.profile-pic {
    grid-row: span 2;
    align-self: center;
    justify-self: end;
}

/* Bottom right */
.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.header-btn {
    grid-row: 2 / 3;
}

.user-info h2 {
    grid-column: 2 / 3;
}

.content {
    border: 2px solid orange;
}